/* 버튼 관련 import*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

/* button style 색상 지정용 css 변수 선언 */
:root {
   --button-color: #ffffff;
   --button-bg-color: #0d6efd;
   --button-hover-bg-color: #025ce2;
}

button {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

   margin: 0;

   padding: 0.5rem 1rem;
   font-family: "Noto Sans KR", sans-serif;
   font-size: 1rem;
   font-weight: 400;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   width: auto;
   border: none;
   border-radius: 4px;

   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   cursor: pointer;
   transition: 0.5s;

   background: var(--button-bg-color);
   color: var(--button-color);
}

button:active,
button:hover,
button:focus {
   background: var(--button-hover-bg-color);
   outline: 0;
}

button:disabled {
   opacity: 0.5;
}

button.search{
   --button-bg-color: #28a745;
   --button-hover-bg-color: #218838;
}

button.update{
   --button-bg-color: #dc3545;
   --button-hover-bg-color: #c82333;
}

button.delete{
   --button-color: #212529;
   --button-bg-color: #ffc107;
   --button-hover-bg-color: #e0a800;
}

section{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 100%;
}
