
<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>search</title>

    <!-- AJAX를 활용한 route 설정 script file 분리 -->
    <script type="text/javascript" defer src="../static/js/route.js"></script>
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/input.css" />
    <link rel="stylesheet" href="../static/css/navbar.css" />
    <link rel="stylesheet" href="../static/css/table.css" />
    
    <script type="text/javascript" defer src="../static/js/navbar.js"></script>
    <style>
      #member {
        color: black;
        background-color: #e7efc5;
      }
    </style>
  </head>
  <body>
    <!-- side navigation bar -->
    <div class="sidenav">
      <a id="home"> Home </a>

      <a onclick="myFunction1()" class="dropbtn">Member ▼</a>
      <div id="myDropdown1" class="dropdown-content">
        <a id="m-insert" href="http://localhost:5000/member/insert"
          >회원 등록</a
        >
        <a id="m-search" href="http://localhost:5000/member/search"
          >회원 찾기</a
        >
        <a id="m-update" href="http://localhost:5000/member/update"
          >회원 수정</a
        >
        <a id="m-delete" href="http://localhost:5000/member/delete"
          >회원 삭제</a
        >
      </div>

      <a onclick="myFunction2()" class="dropbtn">Club ▼</a>
      <div id="myDropdown2" class="dropdown-content">
        <a id="c-insert" href="http://localhost:5000/club/insert"
          >클럽 등록</a
        >
        <a id="c-search" href="http://localhost:5000/club/search"
          >클럽 찾기</a
        >
        <a id="c-update" href="http://localhost:5000/club/update"
          >클럽 수정</a
        >
        <a id="c-delete" href="http://localhost:5000/club/delete"
          >클럽 삭제</a
        >
      </div>
    </div>

    <div class="mainContainer">
      <h1 class="border">멤버 조회</h1>
      <div class="inputContainer">
        <input type="submit" id = "searhAllBtn" onclick="searchAllMember()" value="모든 회원 조회하기"></input>
        <div id="searchAllList" style="display: none;">
          <table id="memberTable">
            <tr>
              <th>아이디</th>
              <th>이름</th>
              <th>나이</th>
              <th>전화번호</th>
              <th>성별</th>
              <th>클럽</th>
              <th>랭크</th>
              <th>가입일자</th>
            </tr>
          </table>
        </div>
        
        <h3> 조회할 회원의 ID를 입력해주세요.</h3>
        <label>ID</label>
        <input type="text" id="searchId" value="1" size=2/> 

        <h3> 조회할 회원의 이름을 입력해주세요.</h3>
        <label>이름</label>
        <input type="text" id="searchName" value="홍길동" size=2/> 

        <h3> 조회할 회원의 나이를 입력해주세요.</h3>
        <label>나이</label>
        <input type="text" id="searchAge" value="40" size=2/> 
        <input type="submit" id = "memSearchBtn" onclick="searchMember()" value="조회하기"></input>
      </div>

      <!-- <div class="searchList" style="display: none;"> -->
      <h3 id="noData" style="display: none;"></h3>
      <div id="searchList" style="display: none;">
        <table>
          <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>나이</th>
            <th>전화번호</th>
            <th>성별</th>
            <th>클럽</th>
            <th>랭크</th>
            <th>가입일자</th>
          </tr>
          <tr>
            <td id="id"></td>
            <td id="name"></td>
            <td id="age"></td>
            <td id="phone"></td>
            <td id="gender"></td>
            <td id="club"></td>
            <td id="rating"></td>
            <td id="enroll"></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
